<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Unsupported URL</title>
    <style>
        .container{
            padding-top: 15%;
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></h1>
        <h2>Looks Like something needs to be fixed in URL... </h2>

        <h6>Please Go to <a href="/">HomePage</a></h6>


    </div>
</body>
</html>