<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script>
        $(document).ready(function(){
            $(".glyphicon-remove").click(function(){
                 $.ajax({
                    type : "POST",
                    url : "/removeApp/"+this.id,
                    data: JSON.stringify(null),
                    contentType: 'application/json;charset=UTF-8',
                    success: function() {
                    console.log('Happend');
                    }
                });
                $(".div"+this.id).toggle('slow');
            });

            $(".def").click(function(){
                $("#cont").load('/shome')
            });

         });
    </script>
</head>
<body>
    {% if warn %}
        {{warn}}
    {%else%}

    <h1>Here the list of all the apps you have.</h1>
    {% for a in apps %}
            <div class="col-md-4 apps div{{a[0]}}" style="background-color:{{a[2]}}; ">
                <div class="row">
                <div class="col-md-10"><em><h4>{{a[0]}}</h4></div>
                <div class="col-md-2"><em><h4><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true" id="{{a[0]}}"></span></a></h4></div>
                <h3>{{a[1]}}</h3></em>
                </div>
            </div>
    {% endfor %}

            <a href="#" id="addapp">
            <div class="col-md-4 def" style="background-color:light-grey; ">
                <div class="inn">
                    <h5>Add an App</h5>
                    <h3><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h3>
                </div>
            </div>
            </a>
    {% endif %}
</body>
</html>